* {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  /* scroll-behavior: auto; */
}
.form {
  display: grid;
  width: 280px;
  height: 380px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 27%;
  /* place-content: center; */
  place-items: center;
  text-align: center;
  gap: 0px;

  /* place-self: center; */
  transform: translate(-50%, -50%);
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
}
.box {
  /* display: flex; */
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: #d6f7e7;
  position: relative;
  margin-top: 190px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  padding-right: 300px;
  box-shadow: 12px 9px 33px 3px rgba(56, 52, 52, 0.4);
  -webkit-box-shadow: 12px 9px 33px 3px rgba(56, 52, 52, 0.4);
  -moz-box-shadow: 12px 9px 33px 3px rgba(56, 52, 52, 0.4);
}
.tit {
  color: #5ae4a7;
  font-size: 32px;
}
.int1,
.int2 {
  width: 220px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: #5ae4a7 1px solid;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #5ae4a7;
  font-family: cursive;
}
.sub {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #5ae4a7;
  box-shadow: 9px 9px 24px -6px rgba(250, 250, 250, 0.75) inset;
  -webkit-box-shadow: 9px 9px 24px -6px rgba(250, 250, 250, 0.75) inset;
  -moz-box-shadow: 9px 9px 24px -6px rgba(250, 250, 250, 0.75) inset;
}
.cool:focus {
  outline: 2px #d6f7e7 solid;
  transition: ease-in-out, width 0.35s ease-in-out;
}
.sub:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 60px -12px inset,
    rgba(231, 230, 231, 0.4) 0px 18px 36px -18px inset;
}
/* 240, 46, 170, 0.4 */
img {
  position: absolute;
  padding-top: 10px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  left: 300px;
}
#pop {
  width: 300px;
  height: 50px;
  background-color: #d6f7e7;
  position: absolute;
  top: 120px;
  left: 42%;
  border-radius: 5px;
  text-align: center;
  color: red;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.X {
  background-color: #d6f7e7;
  border: none;
  position: absolute;
  top: 15.5px;
  flex: auto;
}
.x:hover {
  background-color: #5ae4a7;
}
